@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

html,
body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.header {
  font-size: 42px;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.button-container {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.add-book-button {
  color: white;
  background-color: #2962ff;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 50%;
  border-style: none;
  transition: transform 0.3s ease;
}

.add-book-button:hover {
  opacity: 0.75;
  transform: scale(1.1);
}

.footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-github {
  font-size: 24px;
  color: #6e5494;
  transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
